APP_DEBUG = true[APP]DEFAULT_TIMEZONE = Asia/Shanghai[DATABASE]TYPE = mysqlHOSTNAME = 127.0.0.1DATABASE = testUSERNAME = usernamePASSWORD = passwordHOSTPORT = 3306CHARSET = utf8DEBUG = true[LANG]default_lang = zh-cn[EASYSMS]YUNZHIXUN_APPID=4e5b48b584374bc0a5b5ffb4b1e738fcYUNZHIXUN_ACCOUNT_SID=611c798093e8b0f7f286e8cecce93510YUNZHIXUN_AUTH_TOKEN=fb0fcb0ab098b47baafc01b5425b9aef[CACHE]REDIS_EXPIRE=0REDIS_PREFIX=think_bbs_REDIS_HOST=127.0.0.1REDIS_PORT=6379